<div class="row row-centered login">
  <div class="col-xs-12 col-sm-6 col-md-5 col-centered">
    <h1>Reset password</h1>
    <form ng-submit="sendEmail()" ng-if="!model.token">
      <div class="form-group">
        <label class="sr-only" for="email">Email Address</label>
        <input ng-model="model.email" class="form-control input-lg"
               id="email" type="email" required placeholder="Email Address">
      </div>
      <input class="btn btn-block btn-lg btn-primary" type="submit" value="Send password reset email">
      <div class="form-group" style="margin-top: 1em;">
        <a href="/login">Back to login</a>
      </div>
    </form>

    <form ng-submit="passwordReset()" ng-if="model.token">
      <div class="form-group">
        <label class="sr-only" for="email">Email Address</label>
        <input ng-model="model.email" class="form-control input-lg"
               id="email" type="email" readonly required placeholder="Email Address">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">New Password</label>
        <input ng-model="model.password" class="form-control input-lg"
               id="password" type="password" required placeholder="New Password" data-password-toggle>
      </div>
      <input class="btn btn-block btn-lg btn-primary" type="submit" value="Change password">
    </form>

  </div>
</div>