<div class="device-params">
  Light: {{activeDevice.params.on | uppercase}}
</div>

<div ng-if="isDeviceOnline(activeDevice)">
  {{isDeviceOnline(activeDevice)}}
</div>

<div style="margin-top: 1em">
  <div class="btn-group">
    <button ng-click="turnOn(activeDevice)"
            ng-disabled="activeDevice.params.light === 'on'"
            type="button" class="btn btn-success">Light On</button>
    <button ng-click="turnOff(activeDevice)"
            ng-disabled="activeDevice.params.light === 'off'"
            type="button" class="btn btn-warning">Light Off</button>
  </div>
</div>
