<div class="device-params">
  Switch: {{activeDevice.params.on | uppercase}}
</div>

<div ng-if="isDeviceOnline(activeDevice)">
  {{isDeviceOnline(activeDevice)}}
</div>

<div style="margin-top: 1em">
  <div class="btn-group">
    <button ng-click="turnOn(activeDevice, 'switch')"
            ng-disabled="activeDevice.params.switch === 'on'"
            type="button" class="btn btn-success">Switch On</button>
    <button ng-click="turnOff(activeDevice, 'switch')"
            ng-disabled="activeDevice.params.switch === 'off'"
            type="button" class="btn btn-warning">Switch Off</button>
  </div>
</div>
