<div class="device-params">
  Light: {{activeDevice.params.on ? "On" : "Off"}}
</div>
<div>
  <div class="btn-group">
    <button ng-click="turnOn(activeDevice)"
            ng-disabled="activeDevice.params.on === true"
            type="button" class="btn btn-success">Light On</button>
    <button ng-click="turnOff(activeDevice)"
            ng-disabled="activeDevice.params.on === false"
            type="button" class="btn btn-warning">Light Off</button>
  </div>
</div>

url: jdbc:mysql://mysql-idmgmt-prod.massrel.com:3306/id_management?useUnicode=true&characterEncoding=UTF-8
user: prd_login_w
password: 18ca9a8d63f5191e9da9f042ae7a1f15


web-db84bc98-k8bpz